<div class = "page-title">
  <h1>タスク管理</h1>
</div>
<div class = "add">
  <%= button_to "タスク追加", new_task_path, method: :get, class: "button" %>
</div>
<table align = "center" class = "task-list">
<% @task.each do |task| %>
<tr>
  <td class = "task"><%= task.title %></td>
  <td class = "task task-edit">
    <%= link_to edit_task_path(task), class: "edit-link"  do %>
      <span class="material-icons-outlined">edit</span>
    <% end %>
  </td>
  <td class = "task task-delete">
    <%= link_to task_path(task), method: :delete, class: "delete-link" do %>
      <span class="material-icons-outlined">delete</span>
    <% end %>
  </td>
</tr>
<% end %>
</table>